name: Given
on:
  workflow_call:
    inputs:
      item:
        description: "An item that starts with a vowel"
        default: "egg"
        required: false
        type: string
      env:
        description: "Environment in play"
        required: true
        type: string

jobs:
  declare_item_given:
    environment: ${{ inputs.env }}
    name: Environment
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Declare
        run: |
          echo "You were given an ${{ inputs.item }} in ${{ inputs.env }}"
