name: Given
on:
  workflow_call:
    inputs:
      item:
        description: "An item that starts with a vowel"
        default: "egg"
        required: false
        type: string
      path_name:
        description: "Path identifier"
        required: true
        type: string

jobs:
  # path_approval:
  #   environment: ${{ inputs.path_name }}
  #   name: Path Approval
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Awaiting approval
  #       run: echo "This job exists only to trigger environment approval."

  set_variables:
    environment: ${{ matrix.env }}
    name: Set Output Variables
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ["dev", "prod"]
    outputs:
      dev_VAR_1: ${{ steps.set.outputs.VAR_1 }}
      dev_VAR_2: ${{ steps.set.outputs.VAR_2 }}
      prod_VAR_1: ${{ steps.set.outputs.VAR_1 }}
      prod_VAR_2: ${{ steps.set.outputs.VAR_2 }}
    steps:
      - id: set
        run: |
          echo "dev_VAR_1=${{ vars.VAR_1 }}" >> $GITHUB_OUTPUT
          echo "dev_VAR_2=${{ vars.VAR_2 }}" >> $GITHUB_OUTPUT
          echo "prod_VAR_1=${{ vars.VAR_1 }}" >> $GITHUB_OUTPUT
          echo "prod_VAR_2=${{ vars.VAR_2 }}" >> $GITHUB_OUTPUT

  declare_item_given:
    # needs: ["path_approval"]
    needs: ["set_variables"]
    environment: ${{ matrix.env }}-${{ inputs.path_name }}
    name: Environment
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ["dev", "prod"]
    env:
      VAR_1: ${{ needs.set_variables.outputs[format("{0}_VAR_1", matrix.env)] }}
      VAR_2: ${{ needs.set_variables.outputs[format("{0}_VAR_2", matrix.env)] }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Declare
        run: |
          echo "You were given an ${{ inputs.item }} in ${{ matrix.env }} for ${{ inputs.path_name }}"
          echo "But you already had: ${VAR_1}, ${VAR_2}"
