name: Given
on:
  workflow_call:
    inputs:
      item:
        description: "An item that starts with a vowel"
        default: "egg"
        required: false
        type: string
      path_name:
        description: "Path identifier"
        required: true
        type: string

jobs:
  path_approval:
    environment: ${{ path_name }}
    name: Path Approval
    runs-on: ubuntu-latest
    steps:
      - name: Awaiting approval
        run: echo "This job exists only to trigger environment approval."

  declare_item_given:
    needs: ["path_approval"]
    environment: ${{ matrix.env }}
    name: Environment
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ["dev", "prod"]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Declare
        run: |
          echo "You were given an ${{ inputs.item }} in ${{ matrix.env }}"
