name: Bifurcation
on:
  workflow_dispatch:

jobs:
  take_path:
    name: Take Path
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Warn
        run: |
          echo "You've reached a fork in the road"

  path_1:
    needs: ["take_path"]
    name: Path 1
    strategy:
      matrix:
        env: ["dev", "prod"]
    uses: ./.github/workflows/_given.yml
    with:
      env: ${{ matrix.env }}

  path_2:
    needs: ["take_path"]
    name: Path 2
    strategy:
      matrix:
        env: ["dev", "prod"]
    uses: ./.github/workflows/_given.yml
    with:
      env: ${{ matrix.env }}
      item: Alligator
