name: Bifurcation
on:
  workflow_dispatch:

jobs:
  take_path:
    name: Take Path
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Warn
      run: |
        echo "You've reached a fork in the road"
        
    - name: Path 1
      uses: ./.github/workflows/_given.yml
      
    - name: Path 2
      uses: ./.github/workflows/_given.yml
      with:
        item: Alligator
    
