name: Bifurcation
on:
  workflow_dispatch:

jobs:
  take_path:
    name: Take Path
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Warn
        run: |
          echo "You've reached a fork in the road"

  path_1:
    name: Path 1
    uses: ./.github/workflows/_given.yml
    with:
      path_name: path-1

  path_2:
    name: Path 2
    uses: ./.github/workflows/_given.yml
    with:
      path_name: path-2
      item: Alligator
